html {
	height: 100%;
}
body {
	color: black;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
#wrap {
	padding: 5px;
	margin: 0;

	position: absolute;
	top: 50px;
	bottom: 25%;
	left: 0;
	right: 0;

	background: #FFD;
}
#code, #output, pre {
	font-family: Menlo, monospace;
	font-size: 11pt;
}
#code {
	background: inherit;

	width: 100%;
	height: 100%;
	padding: 0; margin: 0;
	border: none;
	outline: none;
	resize: none;
}
#output {
	position: absolute;
	top: 75%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
}
#output .loading {
	color: #999;
}
#output.error {
	color: #900;
}
#output pre {
	margin: 0;
}
#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
}
#head {
	float: left;
	padding: 8px;

	font-size: 30px;
	font-family: Georgia, serif;
}
#controls {
	float: left; 
	padding: 10px;
}
#controls input[type=button] {
	height: 30px;
	border: 1px solid #ccc;
	font-size: 20px;
	background: #eee;
	color: black;
}
#controls input[type=button]:hover {
	color: white;
	background: #666;
}
#shareURL { 
	width: 350px;
	font-size: 16px;
	border: 1px solid #ccc;
	background: #eee;
	color: black;
}
